<div class="course-card" *ngIf="course1" #container>

  <div class="course-title">
    {{ cardIndex || '' + ' ' + course1.description }}
  </div>

  <ng-content select="course-image"
              *ngIf="course1.iconUrl"></ng-content>

  <div class="course-description">

    Edit Title: <input #courseTitle [value]="course1.description">

  </div>

  <div class="course-category" [ngSwitch]="course1.category">

    <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>

    <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>

    <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>

  </div>

  <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>

</div>






